body {
  background-color: cornflowerblue;
}

.background {
  background-image: url("../images/photo-1471419890245-7bbd602d2c46.jpg");
  background-size: cover;
}

.text-center{
  color: chartreuse;
  font-weight: bolder;
}